<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="confirmLogout()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon> Logout
      </ion-button>
    </ion-buttons>
    <ion-title>Member Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="member-menu-content">
    <h2>Exclusive Access</h2>
    <ion-list>
      <ion-item button routerLink="/personalized-routines">
        <ion-icon name="fitness-outline" slot="start"></ion-icon>
        <ion-label>Personalized Workout Routines</ion-label>
      </ion-item>
      <ion-item button routerLink="/diet-plans">
        <ion-icon name="restaurant-outline" slot="start"></ion-icon>
        <ion-label>Diet Plans</ion-label>
      </ion-item>
      <ion-item button routerLink="/equipment-status">
        <ion-icon name="barbell-outline" slot="start"></ion-icon>
        <ion-label>Real-Time Equipment Availability</ion-label>
      </ion-item>
      <ion-item button routerLink="/community-chats">
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>Interactive Community Chats</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
