ion-header {
    --background: var(--ion-color-primary);
    --color: white;
  }
  
  ion-title {
    font-weight: bold;
    text-align: center;
  }
  
  ion-button {
    --background: transparent;
  }
  
  ion-content {
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
  }
  