ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f4f7;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.logo-image {
  width: 50vw;
  max-width: 150px;
  height: auto;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  /* Prevents box from pushing layout out of center */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box h1 {
  font-size: clamp(24px, 5vw, 32px);
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

ion-item {
  margin-bottom: 10px;
}

.login-button {
  margin-top: 20px;
  width: 100%;
  background-color: #3880ff;
  color: white;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  color: #3880ff;
  text-decoration: none;
}
