


ion-content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f4f7;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto; 
        margin-bottom: 20px; 
    }

    .logo-image {
        width: 150px;
        height: auto;
      }

    .login-box {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
      padding: 20px;
      background: black;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
  
      h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
      }
  
      ion-item {
        margin-bottom: 10px;
      }
  
      .login-button {
        margin-top: 20px;
        background-color: #3880ff;
        color: white;
      }
  
      .register-link {
        margin-top: 10px;
        font-size: 14px;
  
        a {
          color: #3880ff;
          text-decoration: none;
        }
      }
    }
}
  