<ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>

<ion-header>
  <ion-toolbar>
    <ion-title>Non-Member Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Order Meals</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" class="meals-button" routerLink="/meal-options">
          <ion-icon name="fast-food" slot="start"></ion-icon>
          View Meals
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Membership Plans</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" class="plans-button" routerLink="/membership-options">
          <ion-icon name="card" slot="start"></ion-icon>
          View Plans
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
