body {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  width: 100%;
}

ion-content {
  --background: transparent;
}

ion-toolbar {
  --background:#ff0000; 
  --color: #ffffff; 
}

ion-back-button {
  --color: #ffffff; 
}

.details-container {
    padding: 20px;
  }
  
  ion-card {
    margin: 10px 0;
  }
  
  ion-button {
    --background:#ff0000; 
    --color: #ffffff; 
    margin-top: 20px;
    width: 100%;
  }
  