<ion-buttons slot="start">
  <ion-back-button defaultHref="/nonmember-menu"></ion-back-button>
</ion-buttons>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meal Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ meal.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ meal.description }}</p>
            <p><strong>Diet Plan:</strong> {{ meal.dietPlan }}</p>
            <ion-button expand="full" color="secondary">Order Now</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
