body {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  
  ion-content {
    --background: transparent;
  }  
  ion-toolbar {
    --background: #4caf50; 
    --color: #ffffff; 
  }
  
  ion-back-button {
    --color: #ffffff; 
  }
  
  ion-title {
    color: #ffffff; 
  }
  
  ion-item {
    --color: #ffffff; 
    --background: rgba(0, 0, 0, 0.7); 
  }
  
  ion-badge {
    --background: #4caf50; 
    --color: #ffffff; 
  }