ion-content {
  --background: none; /* Ensure ion-content has no background color */
}

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 9vw;
  margin-bottom: 10px;
  color: #ff0000;
}

p {
  font-size: 4.5vw;
  margin-bottom: 20px;
  padding: 20px;
  color: #ffffff;
}

ion-button {
  margin: 10px 0;
  width: 90%;
  max-width: 300px;
  align-self: center;
}

p.aboutus-link {
  padding: 35px;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 12vw;
  }

  p {
    font-size: 5vw;
  }
}
ion-button.member-btn {
  --background: #4caf50; 
  --color: #ffffff; 
  margin: 10px 0;
  width: 90%;
  max-width: 300px;
  align-self: center;
  --background-focused: #388e3c; 
  --background-activated: #2e7d32; 
}

ion-button.non-member-btn {
  --background: #f44336; 
  --color: #ffffff; 
  margin: 10px 0;
  width: 90%;
  max-width: 300px;
  align-self: center;
  --background-focused: #d32f2f;
  --background-activated: #b71c1c;
}

.aboutus-link {
  color: #ffffff; 
  font-size: 20px; 
  text-align: center; 
  margin-top: 20px;

  a {
    color: #ff0000; 
    font-weight: bold; 
    text-decoration: underline; 
  }

  a:hover {
    color: #cc0000; 
    text-decoration: none; 
  }
}