ion-content {
  --background: none; /* Ensure ion-content has no background color */
}

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 9vw;
  margin-bottom: 10px;
  color: white; /* Main text color */
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-transform: uppercase; /* Optional: Capitalizes text for emphasis */
  text-shadow: 
    0 0 10px rgba(255, 0, 0, 1),   /* Red */
    0 0 20px rgba(0, 255, 0, 1),   /* Green */
    0 0 30px rgba(0, 0, 255, 1),   /* Blue */
    0 0 40px rgba(255, 255, 0, 1), /* Yellow */
    0 0 50px rgba(0, 255, 255, 1); /* Cyan */
  animation: trace 2s linear infinite; /* Animation for the RGB tracing effect */
}

@keyframes trace {
  0% {
    text-shadow: 
      0 0 10px rgba(255, 0, 0, 1), 
      0 0 20px rgba(0, 255, 0, 1), 
      0 0 30px rgba(0, 0, 255, 1), 
      0 0 40px rgba(255, 255, 0, 1), 
      0 0 50px rgba(0, 255, 255, 1);
  }
  100% {
    text-shadow: 
      0 0 10px rgba(255, 0, 0, 1), 
      0 0 20px rgba(0, 255, 0, 1), 
      0 0 30px rgba(0, 0, 255, 1), 
      0 0 40px rgba(255, 255, 0, 1), 
      0 0 50px rgba(0, 255, 255, 1), 
      0 0 60px rgba(255, 0, 0, 1); /* Added more spread and intensity */
  }
}

p {
  font-size: 4.5vw;
  color: #003366;
  background-color: rgba(255, 255, 255, 0.7); /* White with 70% transparency */
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for better contrast */
}

ion-button {
  margin: 10px 0;
  width: 90%;
  max-width: 300px;
  align-self: center;
}

p.aboutus-link {
  padding: 35px;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 12vw;
  }

  p {
    font-size: 5vw;
  }
}
ion-button.member-btn {
  --background: #4caf50; 
  --color: #ffffff; 
  margin: 10px 0;
  width: 90%;
  max-width: 300px;
  align-self: center;
  --background-focused: #388e3c; 
  --background-activated: #2e7d32; 
}

ion-button.non-member-btn {
  --background: #f44336; 
  --color: #ffffff; 
  margin: 10px 0;
  width: 90%;
  max-width: 300px;
  align-self: center;
  --background-focused: #d32f2f;
  --background-activated: #b71c1c;
}

.aboutus-link {
  color: #003366; 
  font-size: 20px; 
  text-align: center; 
  margin-top: 20px;

  a {
    color: #ff0000; 
    font-weight: bold; 
    text-decoration: underline; 
  }

  a:hover {
    color: #cc0000; 
    text-decoration: none; 
  }
}