.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  text-align: center; /* Ensures the content is centered */
}

img {
  max-width: 80%;
  display: block; /* Ensures the image is treated as a block-level element */
  margin: 0 auto; /* This will center the image horizontally */
}

h1 {
  font-size: 9vw; /* Scales based on screen width */
  margin-bottom: 10px;
  color: #ff0000;
}

p {
  font-size: 4.5vw;
  margin-bottom: 20px;
  padding: 20px;
}

ion-button {
  margin: 10px 0;
  width: 90%; /* Ensure it fits well on mobile screens */
  max-width: 300px;
  align-self: center;
}

p.aboutus-link {
  padding: 35px;
}