<ion-content [fullscreen]="true">
  <div id="container">
    <div class="welcome-section">
      <div class="logo-container">
        <img src="assets/RestofitLogo.png" alt="Logo" class="logo-image">
      </div>
      <h1>Welcome to RestoFit</h1>
      <p>Are you a member or non-member customer?</p>

      <ion-button expand="block" color="primary" routerLink="/login">
        MEMBER
      </ion-button>

      <ion-button expand="block" color="secondary" routerLink="/nonmember-menu">
        NON-MEMBER
      </ion-button>
    </div>

    <p class="aboutus-link">
      Want to know more? Click here! <a routerLink="/about-us">About Us</a>
    </p>
  </div>
</ion-content>