<ion-content class="ion-padding register-page">
  <div class="form-container">
    <h1 class="title">Register</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none" class="animated-input">
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none" class="animated-input">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item lines="none" class="animated-input">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="animated-button" [disabled]="!registerForm.valid">
        Register
      </ion-button>
    </form>
  </div>
</ion-content>
